.calendar,
input#month-input {
    font-size: xx-large;
}

.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;

}

table.table-for-calendar {
    border-collapse: collapse;
}

.table-for-calendar td {
    border: 1px solid lightgray;
    padding: 10px;
}

.table-for-calendar td:nth-child(7n) {
    color: red
}